.box
  %p#notice= notice

  .field
    .control
      %audio{controls: "", src: "#{rails_blob_path(@flashcard.speech)}"}
  .field
    %label.label Term
    .control
      = @flashcard.term
  .field
    %label.label Definition
    .control
      = @flashcard.definition
  .field
    %label.label Status
    .conttrol
      = @flashcard.status
  .field.is-grouped
    %p.control
      = link_to 'Edit', edit_flashcard_path(@flashcard), class: 'button'
    %p.control
      = link_to 'Back', flashcards_path, class: 'button'
