.columns
  - @groups.each do |group|
    .column.is-one-quarter
      .box
        %article.media
          .media-content
            .field
              %p.control
                = group.name
            .field
              %p.control
                %button.button.is-ligh.is-small= link_to 'Show', group
                %button.button.is-ligh.is-small= link_to 'Edit', edit_group_path(group)
                %button.button.is-ligh.is-small= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }

= paginate @groups
