= form_with(model: speech, local: true) do |form|
  - if speech.errors.any?
    #error_explanation
      %h2
        = pluralize(speech.errors.count, "error")
        prohibited this speech from being saved:
      %ul
        - speech.errors.full_messages.each do |message|
          %li= message
  .field
    = form.file_field :speech
  .field
    = form.label :term
    = form.text_field :term
  .field
    = form.label :definition
    = form.text_area :definition
  .field
    = form.label :voice
    = form.text_field :voice
  .field
    = form.label :status
    = form.number_field :status
  .actions
    = form.submit
