%p#notice= notice

- @speeches.each do |speech|
  .columns.box
    .column
      = speech.term
    .column
      = speech.definition
    .column
      %div
        %audio{controls: "", src: "#{rails_blob_path(speech.speech)}"}
      %div
        %button.button.is-light.is-small=link_to 'Show', speech
        %button.button.is-light.is-small= link_to 'Edit', edit_speech_path(speech)
        %button.button.is-light.is-small= link_to 'Destroy', speech, method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Tango', new_speech_path, {class: "button is-info"}
